[project]
	description = test the coderevirew
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/FDelor
[access "refs/for/refs/*"]
	read = group user/FDelor
	push = group user/FDelor
	label-Code-Review = -2..+2 group user/FDelor
	label-Verified = -1..+1 group user/FDelor
	rebase = group user/FDelor
	removeReviewer = group user/FDelor
	submit = group user/FDelor
[access "refs/heads/*"]
	read = group user/FDelor
	create = group user/FDelor
	push = +force group user/FDelor
	pushMerge = group user/FDelor
[access "refs/tags/*"]
	push = group user/FDelor
	push = +force group user/FDelor
